@font-face {
font-family: 'Big John Regular';
font-style: normal;
font-weight: normal;
src: local('Big John Regular'), url('Big John.woff') format('woff');
}

h1 {
	font-family: 'Big John Regular';
	font-weight: 200;
	color: #52575d;
}
